#app {
  max-width: 1180px;
  margin: 0 auto;
  padding: 36px 28px 52px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  #app {
    padding: 22px 18px 42px;
  }
}

@media (max-width: 760px) {
  #app {
    padding: 12px 10px 30px;
  }
}

@media (max-width: 420px) {
  #app {
    padding: 8px 8px 24px;
  }
}
